body {
  font-family: "Dancing Script", cursive;
}

p,
li {
  font-family: "Roboto Slab", serif;
}

input[type="text"] {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgb(191 219 254 / var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb {
  background: rgb(14 165 233);
}

#smallScreenHeading {
  visibility: hidden;
}
#error-message {
  text-align: center;
  color: rgb(136, 18, 200);
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

.addtoCalendarButton {
  border-color: white;
  border-width: 1px;
  height: 20%;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
}
.addtoCalendarButton:hover {
  background-color: white;
  border: 0;
  color: rgb(14 165 233);
}
.currentEventElementContainer {
  font-family: "Itim", cursive;
}

#eventList {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayEvent {
  margin-top: 10px;
  font-weight: bold;
  background-color: rgb(26, 102, 189);
  width: 90%;
}
/* Media screen added to fix compatibility issues and add responsive design with tailwind CSS at screen size 639 */
@media screen and (max-width: 639px) {
  #smallScreenHeading {
    visibility: hidden;
  }
  
  #mainGrid {
    grid-template-rows: repeat(12, minmax(0, 1fr));
    /*reduce the gap*/
    row-gap: 0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  #mainSearchContainer {
    /* change height to fit-content in order to expand it with search history */
    min-height: 25vh;
  }
  #searchDiv {
    padding-top: 0.5rem;
  }
  #error-message {
    text-align: center;
    color: rgb(136, 18, 200);
    font-family: "Roboto Slab", serif;
    font-weight: bold;
  }
  #mainEventPlannerContainer {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    height: fit-content;
  }
  #main-event-element {
    padding: 0;
    flex-direction: column;
    overflow-wrap: break-word;
    gap: 7px;
    padding-bottom: 7px;
    padding-top: 5px;
  }
  
  #calanderTitle {
    font-size: 0.9rem;
  }
  .DayName {
    font-size: 0.7rem;
  }
  .dayDiv {
    font-size: 0.7rem;
    margin: 0.25rem;
  }
  
  #event-url-element {
    overflow-wrap: break-word;
  }

  .currentEventElementContainer {
    width: 77%;
  }
}
/* Media screen added to fix compatibility issues and add responsive design with tailwind CSS at screen size 425 */
@media screen and (max-width: 425px) { 
  #smallScreenHeading {
    visibility: visible;
    text-align: center;
    background-color: rgb(14 165 233 / 0.5);
    color: white;
    border-bottom: solid 1px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  #mainContainer {
    margin: 0;
    padding: 0;
  }
  #mainGrid {
    margin: 0;
  }
  #mainSearchContainer {
    box-shadow: 0px 0px 0px 0px;
    border-bottom: 1px solid white;
  }
  #searchDiv {
    margin-top: 0;
    padding-top: 5px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  #error-message {
    font-size: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
  }
  #mainEventPlannerContainer {
    margin-top: 0;
    margin-bottom: 0;
    height: 140vh;
  }
  #cityEventPlannerH1 {
    display: none;
  }

  #main-event-element {
    padding: 10px;
    flex-direction: column;
    overflow-wrap: break-word;
    gap: 7px;
    padding-bottom: 7px;
    padding-top: 5px;
  }
  #mainEventsContainer {
    height: 40vh;
  }

  .currentEventElementContainer {
    width: 77%;
  }
}
